@model IEnumerable<WebSiteAdminPanel.Models.Blog>
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}
<h2></h2>
<section id="main">
    <p>
       
    </p>
    <h2>Blog Kayitlari</h2>
    <a class="btn btn-outline-dark" href="/Blog/Create">Blog Ekle</a>
    <table class="table table-striped" id="myTable">
        <thead>
            <tr>
                <th>#</th>
                <th>Baslik</th>
                <th>Kategori</th>
                <th>ResimUrl</th>
                <th>İslemler</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.BlogId</td>
                    <td>@item.Baslik</td>
                    <td>@item.Kategori.KategoriAd</td>
                    <td><img src="@item.ResimUrl" width="100" height="100" /></td>
                    <td><a href="/Blog/Edit/@item.BlogId">Güncelle</a>|<a href="/Blog/Delete/@item.BlogId">Sil</a></td>
                </tr>
            }
        </tbody>
    </table>
</section>
